footer > div > article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding: 10px;
    background-color: #3c5aa6;
    color: white;
    text-align: center;
}

    footer > div {
    margin-bottom: 0px;
    }

footer > div > article > img {
    max-width: 120px;
    max-height: 500px;
    text-align: center;
    margin: auto;
}